body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px;
}
.caja{
    width: 200px;
    height: 100px;
    background-color: lightblue;
    margin: 20 px auto;
}
.uno{
    padding: 20px;
    background-color: lightgreen;
    box-sizing: border-box
}
.dos{
    border: 20px solid blue;
    background-color: lightcoral;
    box-sizing: border-box
}
.tres{
    margin: 40px;
    padding: 10px;
    border: 3px dashed black;
    background-color: lightyellow;
    box-sizing: border-box
}
.cuatro{
    margin: 40px;
    padding: 5px;
    border: 8px dashed black;
    background-color: blue;
}