body { 
    font-family: "Trebuchet MS", Arial Helvatica, sans-serif;
    font-size: 100%;
    line-height: 130%;
    background: #F5F5F5;
}

#contenedor {
    width: 950px;
    margin: 0px auto ;
    margin-bottom: 0px;
    background-color: #FFF;
}

#encabezado {
    width: 100%;  height: 200px;
    position: relative;
}

#logo {
    position: absolute;
    top: 10px; left: 10px;
}

#contenido {
width: 650px;
float: left;
padding: 20px;
}


#contenido h1 {
    color: #06f;
    font-weight: bold;
    font-size: 1.2em;
}
p{
    color: #444;
    font-size: .9em;
    margin: 7px 0px;
}
h2 {
    color: #06f;
    font-weight: bold;
    font-size: 1em;
}

#contenido ul{
color: #444;
font-size: .9em;
margin-left: 30px;
}

#contenido .promo {
    background-color: #06f;
    width: 405px;
    padding: 5px;
    margin-bottom: 30px;
    color: #FFF;
}
#lateral {
    width: 250px;
    float: right;
    text-align: center;
    margin: 1px 0px;
    border-left: solid 2px rgb(0, 0, 0);
}
.fotos{
    border: solid 2px #888;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 25px;
}

#lateral p {
text-align: center;
font-size: .9em;
}

#pie {
    width: 100%;
    padding: 20px 0px;
    clear: left;
    background-color: #89b8ff;
}
#pie p {
    font-size: .7em;
    text-align: center;
    line-height: 90%;
}
* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    padding: 0;
    border: none;
    outline: 0;
    margin: 0;
}