#menu {
    position: absolute;
    bottom: 0px;
    width:  925px; height: 1.8em;
    margin: 20px auto 0px;
    background-color: rgb(150, 0, 0);
    font-size: .9em;
    font-weight: bold;
    text-shadow: 1px 1px 0px #000;
    padding: .3em 1.2em;
}
#menu ul  {
    list-style: none;
}
#menu ul li {
    float: left;
    margin: 0px 30px;
}
#menu ul a{
    text-decoration: none;
    padding: .3em .5em;
    margin: 0em .1em;
    display: block;
    color:#FFF;
    border-radius: 5px;
}
#menu ul li a:hover {
    background-color: #599dbf;
    text-decoration:  underline;
}
menu ul li a:active {
    background-color: #F00;
    text-decoration: underline;
}